body{
    font-size:10px;/*base*/
    }

h1{
    font-size: 2rem; /*28px*/

    /* 1rem.............14px;
    2rem.............28px */
}

p{
    color: blue;
}

.destacados{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

#rojo{
   width: 200px;
   height: 200px;
   background-color: red;
   margin-bottom: 20px; 
   margin-left: 50px;
}

#azul {
    width:50%;
    height: 400px;
    background-color: rgba(113, 113, 244,0.5);
    padding: 20px;
    border: 5px solid black;
    box-sizing: border-box;
}